@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: myFont;
  src: url(/assets/fonts/GT-Pressura-Bold\ \(1\).woff);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red !important;
} */
body {
  overflow-x: hidden !important;
}
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .hidden {
    display: none;
}
  .main {
    width: 85%;
    margin-left: 15%;
    padding: 0px 0px;
    z-index: 1;
  }  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 425px) {
    .sidenav {display: none;}
    .main {
      margin-left: 0px;
      width: 100%;
    }
  }
  /* #logo {
    width: 120px;
    height: 90px;
    margin-top: 35px;
    margin-left: 30px;
  } */
  .nunito-font {
    font-family: 'Nunito', sans-serif;
  }
  .roboto-font {
    font-family: 'Roboto', sans-serif;
  }
  .persu-font {
    font-family: myFont;
  }
  .khasha:hover {
    color: #A3D5BD;
    transition: 700ms !important;
  }
  #myBtn {
    position: static; 
    margin-bottom: -300px !important;
    margin-right: -55px !important;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 120px;
  }
  @keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
  #shrinkable {
    background-color: black;
    width: 80px;
    height: 446px;
    margin-top: 59px;
    position: fixed;
    transition: height 0.5s;
    z-index: 10000 !important;
    margin-left: 150px;
    animation: slideRight 1s ease;
  }
  /* slider last continuous  */
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: #abdbc4;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    width: 1000px;
    text-align: center;
  }